@use '../../styles/colors' as v;

.button {
  padding: 4px 8px;
  border: none;
  border-radius: 3px;
  //background-color: $active;
  background-color: v.$active;
  color: white;
}

.active {
  background-color: tomato;
}