@use '../../styles/colors' as v;

.button {
  padding: 6px 12px;
  border: none;
  border-radius: 2px;
  //background-color: $active;
  background-color: white;
  color: v.$textColor;

  & + button {
    margin-left: 12px;
  }
}

.active {
  background-color: tomato;
}

.accent {
  background-color: v.$accent;
}