
.todolist {
  padding: 30px;
  border: 1px solid tomato;
  border-radius: 5px;
}

.tabs button+button {
  margin-left: 10px;
}

input[type='checkbox'] {

}

//@use './../button/Button.module.scss';
//.btnRemove {
//  @extend .button;
//  margin-left: 10px;
//  border: 3px solid black;
//}
