//.todolist {
//  padding: 30px;
//  border-radius: 4px;
//  background-color: #dcdcdc;
//  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
//              inset 0 -1px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 1px 10px 0 rgba(0, 0, 0, 0.24);
//}
//
//.tabs button + button {
//  margin-left: 10px;
//}
//
//input[type='checkbox'] {
//
//}
//
//.task {
//
//}
//
//.taskDone {
//  text-decoration: line-through;
//  opacity: 0.6;
//}
//
////@use './../button/Button.module.scss';
////.btnRemove {
////  @extend .button;
////  margin-left: 10px;
////  border: 3px solid black;
////}

.label {
  width: 100%;
  display: flex;
  align-items: center;
}

.todolist {

}