//.addItem {
//  display: flex;
//  flex-direction: column;
//}
//
//.taskInputError {
//  border: 2px solid tomato;
//  outline: none;
//}
//
//.taskInputErrorMessage {
//  color: tomato;
//}
.addItem{
  width: 100%;
  display: flex;
}

.addItemBox {
  align-self: center;
  flex-grow: 1;
  margin-top: 20px;
}
